body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 0px auto;
  padding-top: 8px;
  padding-bottom: 4px;
}

h1.title {
  margin: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container {
  margin: 10px;
  padding: 10px;
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
}